# Music-library
It enables the user to listen variety of songs and download to their device.
SETTINGS
1.language
2.latest
3.top list
4.melody
5.movie wise
6.Theme wise
MY MUSIC
1.offline
2.local mp3
3.downloaded songs
SEARCH
1.language wise
2.movie wise
3.artist name
4.song name
SONG DETAILS
1.song name
2.movie name
3.artist name
4.music director
QUEUE
1.repeat current song
2.shuffle 
3.repeat all songs in queue
Song OPTIONS
1.set as ringtone
2.delete
3.purchase
